*.o
sim/trajectoriescsv/
extractMeshdata.py
sim/configData.yaml
*.cmd
*.so
.vscode
*.csv
osqp/cffirmware_osqp/src/.~lock.FDvsmu.csv#
sim/output*/
sim/cfg/*.pdf
__pycache__/
cf*_*
*.pdf
hardware/qp-solve/src
logTime_*
hardware/qp-solve/*.txt